#Build
project/project
project/target
target
dist

#IDE/Editor Stuff
.idea
*.iml
out/
.idea_modules
.classpath
.project
RUNNING_PID
.settings
*.swp

#Misc
logs
tmp
.history
conf/application-local.conf
