@(name: String, topic: String, deltas: Seq[models.ZkKafka.Delta])(implicit request: play.api.mvc.RequestHeader)

@main("Capillary") {

  <h1>Deltas for topology "@name" <small> topic: @topic</small></h1>
  <table class="table table-striped table-bordered table-hover">
   <thead>
    <th>Partition</th>
    <th>Delta (Messages)</th>
    <th>Kafka Current</th>
    <th>Spout Current</th>

   </thead>
    <tbody>
      @for(delta <- deltas) {
      <tr>
       <td>@delta.partition</td>
       <td>@delta.amount</th>
       <td>@delta.current</th>
       <td>@delta.storm</th>
      </tr>
      }
    </tbody>
   </table>
}
